/* Стили для навигационных ссылок */
nav ul {
    list-style: none; /* Убираем маркеры списка */
    padding: 0;
}

nav ul li {
    display: inline; /* Размещаем ссылки горизонтально */
    margin-right: 20px; /* Отступ между ссылками */
}

/* Стили для ссылок в навигации */
nav ul li a {
    color: white; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание ссылок */
    font-weight: bold; /* Жирное начертание текста ссылок */
}
